.contact {
  @extend .about;
  background-color: $w-color;
  color: $b-color;
  main {
    align-items: center;
  }
  form {
    width: 100%;
  }

  h2 {
    position: relative !important;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 120px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    // color: $pr-color !important;
    -webkit-text-stroke: $pr-color 2px;
    opacity: 0.8;
    // color: rgba(59, 59, 59, 0.438) !important;
    span:hover {
      color: $pr-color;
      transform: translateY(-3px);
    }
    top: -1rem;
    text-align: start;
    width: 100%;
    margin-bottom: 2rem;
    span {
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    @media ($m-mb) {
      font-size: 3.5rem !important;
      line-height: 32px;
      top: 3rem;
    }
  }
  .hand1,
  .hand2 {
    width: 48%;
    position: relative;
    @media ($m-md) {
      width: 100%;
    }
  }
  input,
  #message {
    background-color: rgba(59, 59, 59, 0.2);
    outline: none;
    padding: 1rem 1rem;
    width: 100% !important;
    height: 100% !important;

    &::placeholder {
      color: rgba(24, 24, 24, 0.527);
    }
    &:focus + .underlineAnime {
      // transform: scale(1);
      width: 100%;
    }
  }
  .nah {
    height: 10rem;
    max-height: 30rem;
    min-width: 100%;
    position: relative;
  }
  .underlineAnime {
    background-color: $pr-color;
    display: inline-block;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    // -webkit-transform: scale(0, 1);
    // transform: scale(0, 1);
    // -webkit-transition: all 0.5s linear;
    width: 0%;
    transition: all 0.5s linear;
  }
  .conImg {
    width: 100%;
    img {
      z-index: -2;
      object-fit: cover;
      transform: rotateY(180deg);
      @media ($m-mb) {
        display: none;
      }
    }
  }
  z-index: 4;
  .handllar {
    flex-wrap: wrap;
    input {
      width: 48%;
      @media ($m-md) {
        width: 100%;
      }
    }
  }
  .medai {
    .line {
      background-color: rgb(68, 68, 68);
    }
    svg {
      color: rgb(68, 68, 68);
    }
  }
  .email {
    a {
      color: rgb(68, 68, 68);
      &:hover {
        color: $pr-color;
        font-weight: 600;
      }
    }
    .line {
      background-color: rgb(68, 68, 68);
    }
  }
}
